<h1>Personal CRM</h1>
<table><tr>
<td><a href = "../home/index"> Home </a></td>
<td><a href = "../show_all_data/show"> Show All Data </a></td>
</tr></table>

<h3> Home Page </h3>

<p> Sorry folks, come back later.</p>
